.result-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  text-align: left;
}

.result-item hr {
  margin-top: 10px;
  margin-bottom: 10px;
}